<div class="content-with-buttons">
  <div class="content-with-buttons__body">
    {{yield to="body"}}
  </div>

  <div class="content-with-buttons__buttons">
    {{yield to="buttons"}}
  </div>
</div>